.loginForm-block {
    margin: auto;
    width: fit-content;
    margin-top: 15%;  
    justify-content: flex-end;
}

.loginForm-block_label {
    text-align: right;
    width: 250px;
}

.loginForm-block_input {
    border-color: cornflowerblue;
}

.loginForm-block_p {
    width: 150px;
}

.loginForm-block_buttonDiv {
    width: 165px;
    text-align: right;
}

.loginForm-block_button {
    color: white;
    background-color: cornflowerblue;
    width: 70px;
    height: 25px;
}