.eventsListForm-table{
    margin-top: 5%;
    margin-left: 30%
}

.eventsListForm-table table{
    width: 700px;
    border: 1px solid white
}

.eventsListForm-table tr{
    color: white;
    background-color: steelblue;
    text-align: left;
}

.eventsListForm-table td{
    width: 400px;
    background-color: lightsteelblue;
    color: black;
    padding-left: 10px
}

.eventsListForm-table th{
    padding-left: 5px
}

.eventsListForm-table_tr{
    height: 23px
}

.eventsListForm-table_buttonDiv{
    margin-left: 569px;
    margin-top: 15px
}

.eventsListForm-table_buttonDiv button{
    background-color: cornflowerblue;
    width: 130px;
    color: white;
    height: 25px
}