.updateProfileForm-block{
    margin: auto;
    width: fit-content;
    margin-top: 15%;  
    justify-content: flex-end;
    margin-right: 0px;
    margin-left: 40%;
    width: 600px
}

.updateProfileForm-block_input{
    border-color: cornflowerblue;
    margin-left: 10px;
    width: 200px
}

.updateProfileForm-block_about{
    border: 2px solid cornflowerblue;
    width: 200px;
    height: 100px;
    margin-left: 42px
}

.updateProfileForm-block_input_country{
    border-color: cornflowerblue;
    margin-left: 28px;
    width: 200px
}

.updateProfileForm-block label{
    text-align: right
}

.updateProfileForm-block_button{
    color: white;
    background-color: cornflowerblue;
    width: 70px;
    height: 25px;
    margin-left: 10px;  
}

.updateProfileForm-block_buttonDiv{
    width: 295px;
    text-align: right;
}